<div *ngIf="courses" class="title">
  <div class="book">
    <img src="https://img.icons8.com/plasticine/100/000000/books.png"/>
  </div>
  <h2>{{courses.name}}</h2>
</div>


<div *ngIf="courses" class="subtitle">
  <label>
    <button  (click)="updateCourse()">Save</button>
    Change course name:
    <input [(ngModel)]="courses.name" placeholder=" Type course name"/>

  </label>

</div>

<div class="subtitle">
  <h4>Files</h4>
</div>

<div class="list">
  <div *ngFor="let file of files" class="file">
    <hr class="line">
    <!--    <a routerLink="/course/{{file.course}}/{{file.name}}">-->
    <a href="http://127.0.0.1:8000{{file.file}}" target="_blank">
      <img class="bookimg" src="https://img.icons8.com/offices/2x/folder-invoices.png"/>
      <p class="paragraph"> {{file.name}}</p>
    </a>
  </div>
</div>

<div class="subtitle">
  <h4>Links</h4>
</div>


<div class="list">
  <div *ngFor="let link of links" class="file">
    <hr class="line">
    <img class="bookimg" src="https://img.icons8.com/color/48/000000/tentacles.png" style="margin-top: 3px"/>

    <a href='{{link.link}}' target="_blank" class="linksa">
      {{link.name}}
      <p class="description">{{link.description}}</p>
    </a>

  </div>
</div>


<div class="notes" *ngIf="loginService.logged">
  <label> Add a comment: <br>
    <textarea [(ngModel)]="note" id="notes" name="notes" placeholder=" Type your notes" type="text"></textarea>
  </label>
  <button (click)="addNote()" class="save_btn">Save</button>
</div>

<div class="subtitle">
  <h4>Comments</h4>
</div>

<div class="list">
  <div *ngFor="let note of notes">
    <hr class="line" style="margin-top: 20px">

    <p class="linksa">
      {{note.note}}
    </p>

  </div>
</div>




<button (click)="goBack()">Go back</button>
