<div class="c">
    <div class="bottom-box">
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Brand</a></li>
            <li><a href="#">Apps</a></li>
            <li><a href="#">Developers</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">&copy;GetFull. 2020</a></li>
        </ul>
    </div>
</div>
