<div>
<div class="center">
    <h3>Press FX to pay for retake</h3>
    <h5>The best website for the best studies and the bright future</h5>
    <div class="button">
      <button routerLink="/courses">Courses</button>
    </div>

    <div class="about">
      <h4>About GetFull</h4>
      <p>We know what it’s like to get stuck on a homework problem. We’ve been there before.
        GetFull is a homework-solving website inspired by the way you work. From open source to your uploads, you can
        host
        and
        review files of other students. We’re here to help you succeed and get unstuck once and for all.</p>
    </div>
</div>
</div>

