
input{
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: 10%;
  border: 1px solid #e4e4e4;;
  border-radius: 5px;
  width: 80%;
  height: 35px;
  padding-left: 1%;
}

label{
margin-left: 10%;
}

.box{
  font-family: 'Roboto', sans-serif;
  position: relative;
  padding-top: 4%;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  height: calc(60vh);

}

button{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid #758799;
  background-color: #758799;
  border-radius: 5px;
  width: 50%;
  margin-top: 10px;
  height: 45px;
  color: white;
  font-size: 13px;
}

.text{
  text-align: center;
  font-size: 40px;
  color: #3e516c;
margin-bottom: 6%;
  margin-top: 5%;
}



.container {
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  max-height: 1250px;
  margin: 40px auto 30px;
  width: 70%;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
  border-radius: 5px;
}
