<div class="container">
  <div class="header">

  </div>
  <div class="main">
    <div class="row">
      <div class="left col-lg-4">
        <div class="photo-left">
          <img class="photo"
               src="https://images.vexels.com/media/users/3/135606/isolated/preview/b474b5c5c7ac007448c0111ac3a3eb29-cat-face-round-icon-by-vexels.png"
          />
        </div>


        <div class="info" *ngIf="loginService.getLogged() == true">
          <h4 class="name"> {{username}}</h4>
        </div>

      </div>
    </div>
  </div>


  <button class="add" (click)="showFieldset('fieldset')">Add course file</button>

  <!--  <form (submit)="processForm()">-->
  <!--    <div class="field">-->
  <!--      <label>Name:</label>-->
  <!--      <input type="text" name="name" [(ngModel)]="form.name" />-->
  <!--    </div>-->
  <!--    <div class="field">-->
  <!--      <label>Email:</label>-->
  <!--      <input type="text" name="email" [(ngModel)]="form.email" />-->
  <!--    </div>-->
  <!--    <div class="field">-->
  <!--      <label>Resume:</label>-->
  <!--      <input type="file" name="resume" [(ngModel)]="form.resume" observeFile />-->
  <!--    </div>-->
  <!--    <div class="actions">-->
  <!--      <button type="submit">-->
  <!--        Process Form-->
  <!--      </button>-->
  <!--    </div>-->
  <!--  </form>-->


  <!--  <form class="add_file" (submit)="processForm()">-->
  <!--    <div class="field">-->
  <!--      <label>Course name:-->
  <!--      <input type="text" name="name" class="inputSubmit" [(ngModel)]="form.course" /><br>-->
  <!--      <datalist id="courses">-->
  <!--                <option *ngFor="let course of courses" value={{course.short_name}}>-->
  <!--              </datalist>-->

  <!--      </label>-->
  <!--    </div>-->

  <!--    <div class="field">-->
  <!--      <label>File name:-->
  <!--      <input type="text" name="email" [(ngModel)]="form.name" />-->
  <!--    </label>-->
  <!--    </div>-->

  <!--    <div class="field">-->
  <!--      <label>File:</label>-->
  <!--      <input type="file" name="resume" [(ngModel)]="form.file" observeFiles />-->
  <!--    </div>-->
  <!--    <div class="actions">-->
  <!--      <button type="submit">-->
  <!--        Process Form-->
  <!--      </button>-->
  <!--    </div>-->
  <!--  </form>-->


  <form class="add_file">
    <fieldset id="fieldset">

      <label for="courses">Course name:
        <input class="inputSubmit" list="courses" name="course" id="courseFileName"><br>
        <datalist id="courses">
          <option *ngFor="let course of courses" value={{course.short_name}}>
        </datalist>
      </label>


      <label for="linknamee">File name:
        <input type="text" id="linknamee" name="linknamee" class="inputSubmit"
               style="margin-top: 20px; margin-left: 27px; margin-bottom: 10px"><br>
      </label>


      <label>Select a file:
        <input type="file" name="profile" accept="application/pdf" (change)="onFileSelect($event)"/><br>
      </label>


      <button class="submitBtn" (click)=addFile()>Submit</button>


      <!--      <label for="myfile">Select a file:-->
      <!--        <input type="file" id="myfile" name="myfile" accept="application/pdf"><br>-->
      <!--      </label>-->


    </fieldset>
  </form>

  <button (click)="showFieldset('linkfield')">Add Course Link</button>

  <form class="add_file">
    <fieldset id="linkfield" style="display: none">

      <label for="coursess">Course name:
        <input class="inputSubmit" list="coursess" name="course" id="courseName"><br>
        <datalist id="coursess">
          <option *ngFor="let course of courses" value={{course.short_name}}>
        </datalist>
      </label>

      <label style="margin-left: 50px">Name: </label>
      <input type="text" class="inputSubmit" name="mylink" style="margin-top: 20px" id="linkName"><br>

      <label style="margin-left: 10px">Paste a link: </label>
      <input type="text" class="inputSubmit" name="mylink" style="margin-top: 20px; text-align: left"
             id="courseLink"><br>


      <label for="description">Add some description:
        <textarea id="description" name="description"></textarea><br>
      </label>

      <button class="submitBtn" style="margin-top: 30px" (click)=addLink()>Submit</button>
    </fieldset>
  </form>

  <button class="add" (click)="logout()">Log out</button>
</div>
